body{
    background-color: rgb(43, 43, 43);
}
h1{
    color: #fff;
    font-weight: 600;
    padding-left: 30px;
}
.bet{
    color: #fff;
    padding-left: 30px;
    padding-right: 25px;
}
figure img{
    padding-left: 30px;
}
#nav-bar{ 
    width: 100%;
  }
  .nav-link{
    color: #fff;
    font-size: 18px;
    font-weight: 400;    
}